
@{
    ViewBag.Title = "Index";



}

<h2>Login</h2>
<form action="" method="post">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" name="uname" /> </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pass" /></td>
        </tr>
        <tr>
            <td>
                <button name="submit" value="submit">Submit</button>
                @*<a href="/Admin/Login">Login</a>*@
            </td>
        </tr>
    </table>
</form>

