
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<a href="/Admin/Addemployee">Add Employee</a>
<br />
<a href="/Admin/Checkreq">Check request</a>
<br />
<a href="/Admin/Seehistory">See History</a>
<br />
<a href="/Admin/Logout">Logout</a>
<br />




